*{
    margin: 0;
    padding: 0;
}
body{
	font-family: 'Epilogue', sans-serif;
	font-size: 1em;
}
.bloc_page{
    
    width: 1200px;
    margin: auto;  
}

/**********************************************************************
** haut de page aside et main *****************************************
***********************************************************************/
header{
    display: flex;
    height: 330px;
}

/********* header_aside *********/
aside , .main_aside , .footer_aside{
	width: 396px;
}
aside{
    background-color: #FECA07;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    border: 4px solid #EBAE05;
    border-radius: 50%;
}

/********** Main_header **********/
.main_header{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}
.main_header h1{
    font-size: 4em;
    font-weight: 200;
    margin-left: 85px;
}
.main_header h2 span{
	border-bottom: 3px solid #FECA07;
}
.main_header h2{
    color: #4A4A4A;
    margin-left: 85px;
    font-weight: bolder;
    font-size: 2em;
}
.main_header h1 span{
    color: #FECA07;
    font-weight: 400;  
}

/************************************************************************
** corps de page aside + main *******************************************
*************************************************************************/
.container{
    display: flex;
}

/********* aside *********/
.main_aside , .footer_aside{
    background-color: #FECA07;
    display: flex;
    flex-direction: column;
}
.title_aside{
    background-color: #4A4A4A;
    text-align: center;
    color: #FECA07;
    padding-top: 10px;
    padding-bottom: 5px;  
}
.title_aside h1{
	font-size: 2em;
}
.contact{
    display: flex;
    flex-direction: column;
    font-weight:500;
}
.contact_items , .text_about , .loisir_icons{
    width: 75%;
    margin: auto;
    color: #4A4A4A;
    text-align: justify;
}
.contact_items{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-around;
    margin: 20px auto;
    font-size: 1.2em;
}
.about{
    font-weight: 500;
}
.text_about{   
    margin: 30px auto;
    font-size: 1.2em;
}

/********** Main **********/
.main_header , .main_container , .main_footer{
    width: 804px;   
}
.section{
    width: 80%;
    margin: auto;
   	padding-top: 15px;
}
.header_section{
    display: flex;
    border-bottom: 3px solid #FECA07;
}
.title_icon{
    padding-right: 10px;
}
.title_icon i{
    font-size: 2em;
    color:#FECA07;
}

.title_section h1{
	font-size: 1.7em;
}
.table_section{
    margin-top: 10px;
    padding-top: 40px;
}
.icon_date_info{
    display: flex;
    margin-bottom: 50px;
    color:#4A4A4A;
    justify-content: space-between;
}
.icon_dot, .icon_circle{
    color: #FECA07;
}
.icon_dot{
    font-size: 10px;
}
.date{
    width:25%; 
    font-weight: bolder;
    font-size: 0.9em;
}
.info{
    width: 65%;
    text-align: justify;
    padding-right: 5px;
}
.info h2{
	font-size: 1.5em;
}
.info h2 , h3{
	margin-bottom: 10px;
}
.sub-infos {
    margin-bottom: 10px;
}

/**********************************************************************
** FOOTER *************************************************************
***********************************************************************/
footer
{
	display: flex;
}

/********** footer_aside **********/
.loisir{
    display: flex; 
    flex-direction: column;
}
.loisir_icons{    
    height: 67.5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.loisir_icons i{
    border: 2px solid #4A4A4A;
    font-size: 30px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}

/********** main_footer *********/
.recommandations{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.reco{
    padding-top: 20px;
    width: 45%;
    color: #4A4A4A;
    margin-top: 10px; 
    display: flex;
    flex-direction: column;
}
.reco h3{
    margin-bottom: 10px;
}
.reco h4{
    margin-bottom: 7px;
}

/**********************************************************************
** responsive tablette ************************************************
***********************************************************************/
@media screen and (max-width: 1024px) and (min-width: 768px)
{
	.bloc_page , header , aside , .main_header , .main_container , .main_aside , .footer_aside , .main_footer , section
	{
		width: auto;
		font-size: 1em;
	}
	header{
        flex-direction: column;
        height: auto; 
	}
	img{
	    margin: 20px;
	}
	.main_header{
	    margin: 50px auto;
	    width: 80%;	    
	}
	.container{
	    flex-direction: column;
	}
    footer{
    	flex-direction: column-reverse;
    	justify-content: space-between;
    }
    .loisir_icons{
    	padding-top: 30px;
    	padding-bottom: 30px;
    }

}

/**********************************************************************
** responsive tablette ************************************************
***********************************************************************/
@media screen and (max-width: 768px){
	.bloc_page , header , aside , .main_header , .main_container , .main_aside , .footer_aside , .main_footer , section
	{
		width: auto;
		font-size: 0.9em;
	}

	/*********************************** haut de page *****************/
	header{
        flex-direction: column;
        height: auto; 
	}

	/********** header_aside *********/
	img{
	    margin: 20px;
	}

	/********** main_header **********/
	.main_header{
	    text-align: center;
	    margin: 60px; 
	}
	.main_header h1{
	    margin-left: 0;
	}
	.main_header h2{
	    margin-left: 0;
	}

	/*********************************** corps de page *****************/
	.container{
	    flex-direction: column;
	}

	/********** aside **********/
    .items
    {  
        margin-bottom: 10px;
    }
	.about{
	    margin-bottom: 50px;
	}
    .text_about{   
        margin-top: 30px;
        text-align: left;
    }

    /********** main **********/
    .section{
    	width: 85%;
    	padding: 10px;
    }
    .info{
    	text-align: left;
    }
    .info h2{
    	font-size: 1.3em;
    }

	/*********************************** bas de page *********************/
    footer{
    	flex-direction: column-reverse;
    	justify-content: space-between;
    	font-size: 1.1em;
    }

    /********** footer_aside **********/
    .footer_aside{
    	margin-top: 10px;
    }
    .loisir_icons{
    	padding-top: 30px;
    	padding-bottom: 30px;
    }
    /********** main_footer **********/
    .recommandations{
    	flex-direction: column;
    	width: auto;
    }
    .reco{
    	width: 80%;
    }
}